{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="hero-section py-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center mx-2">
            <div class="col-md-6 col-lg-5 col-xl-6">
                <img src="{{ MEDIA_URL }}young-woman-shop-buying-clothes-17927682.jpg" alt="Shopping" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-7 col-xl-6">
                <div class="hero-content">
                    <h1 class="hero-title">Find something memorable</h1>
                    <p class="hero-text">Ready to start shopping? Discover our wide selection of clothing and accessories for men, women, and kids.</p>
                    <a href="{% url 'products' %}" class="btn btn-primary shop-now-btn">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row ">
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-secondary mx-4">
            <div class="col-md-12 px-2">
                <h1 class="display-4 font-italic">Mahir Store is special for clouth butique</h1>
                <p class="lead my-3">Mahir is online store for sale specielly cloths like men, women, children, tshirts, dress, pants, socks, sharees, punjabi and more. Its totally online base butique. We have special deal every weaks and we have free shipping system if guests buy more then 30 dollers in Europe. </p>
                <p class="lead mb-0"><a href="{% url 'products' %}" class="text-white font-weight-bold">Continue shopping...</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-12 d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="col-md-6 bg-info mr-md-3 pt-2 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Men`s Clothing</h2>
          <p class="lead">Find all men's cloths here</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 420px; border-radius: 21px 21px 0 0;">
          <div class="card h-100">
            <img class="card-img-top" src="{{ MEDIA_URL }}710+M61cX4L._UL1500_.jpg" alt="Men clothes" width="100" height="350">
            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a href="{% url 'products' %}?category=shirts,jeans,socks" class="btn btn-primary">Buy Now</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 bg-success mr-md-3 pt-2 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Women`s Clothing</h2>
          <p class="lead">Find special womens's clothing </p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 420px; border-radius: 21px 21px 0 0;">
          <div class="card h-100">
            <img class="card-img-top" src="{{ MEDIA_URL }}81FucscuuoL._UL1500_.jpg" alt="Women clothes" width="100" height="350">
            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a href="{% url 'products' %}?category=dress,top,pants" class="btn btn-primary">Buy Now</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
{% endblock %}
