{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="hero-section py-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center mx-2">
            <div class="col-md-6 col-lg-5 col-xl-6">
                <img src="{{ MEDIA_URL }}young-woman-shop-buying-clothes-17927682.jpg" alt="Shopping" class="img-fluid">
            </div>
            
        </div>
    </div>
  </section>
{% endblock %}
