{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="hero-section py-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center mx-2">
            <div class="col-md-6 col-lg-5 col-xl-6">
                <img src="{{ MEDIA_URL }}young-woman-shop-buying-clothes-17927682.jpg" alt="Shopping" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-7 col-xl-6">
                <div class="hero-content">
                    <h1 class="hero-title">Find something memorable</h1>
                    <p class="hero-text">Ready to start shopping? Discover our wide selection of clothing and accessories for men, women, and kids.</p>
                    <a href="{% url 'products' %}" class="btn btn-primary shop-now-btn">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock %}
