.order-history {
    max-width: 415px;
    overflow-y: auto;
}

.profile-update-form input::placeholder {
    color: #aab7c4;
}

.profile-update-form .form-control {
    color: black;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}
