html {
    height: 100%;
}

body {
    background: white;
    color: black;
    font-family: 'Roboto';
}

/* from bootstrap Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.4rem;
    width: 1.4rem;
}

.logo-font {
    text-transform: uppercase;;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: aliceblue;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: whitesmoke;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
}

.text-black {
    color: black !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.btn-outline-black {
    background: #fff;
    color: #000 !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #000;
    color: #fff !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #01274d !important;
    color: #fff !important;
}

.btt-button {
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 12px;
    right: 12px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.message-container {
    position: fixed;
    top: 75px;
    right: 15px;
    z-index: 9999999999;
}

.custon-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------------ Footer -----------------------*/
h2 {  
    padding: 25px 0;  
    text-align: center;     
    }  
    footer {  
     background: black;  
      color: white;  
      margin-top:100px;  
    }  
    footer a {  
      color: #fff;  
      font-size: 14px;  
      transition-duration: 0.2s;  
    }  
    footer a:hover {  
      color: #FA944B;  
      text-decoration: none;  
    }  
    .copy {  
      font-size: 12px;  
      padding: 10px;  
      border-top: 1px solid #FFFFFF;  
    }  
    .footer-middle {  
      padding-top: 1em;  
      color: white;  
    }
    ul.social-network {  
      list-style: none;  
      display: inline;  
      margin-left: 0 !important;  
      padding: 0;  
    }  
    ul.social-network li {  
      display: inline;  
      margin: 0 5px;  
    }  
      
    .social-network a.icoFacebook:hover {  
      background-color: #3B5998;  
    }  
    .social-network a.icoFacebook:hover i  
    {  
      color: #fff;  
    }   
    .socialHoverClass {  
      color: #44BCDD;  
    }  
    .social-circle li a {  
      display: inline-block;  
      position: relative;  
      margin: 0 auto 0 auto;  
      -moz-border-radius: 50%;  
      -webkit-border-radius: 50%;  
      border-radius: 50%;  
      text-align: center;  
      width: 30px;  
      height: 30px;  
      font-size: 15px;  
    }  
    .social-circle li i {  
      margin: 0;  
      line-height: 30px;  
      text-align: center;  
    }  
    .social-circle li a:hover i  
    {  
      -moz-transform: rotate(360deg);  
      -webkit-transform: rotate(360deg);  
      -ms--transform: rotate(360deg);  
      transform: rotate(360deg);  
      -webkit-transition: all 0.2s;  
      -moz-transition: all 0.2s;  
      -o-transition: all 0.2s;  
      -ms-transition: all 0.2s;  
      transition: all 0.2s;  
    }  
    .triggeredHover {  
      -moz-transform: rotate(360deg);  
      -webkit-transform: rotate(360deg);  
      -ms--transform: rotate(360deg);  
      transform: rotate(360deg);  
      -webkit-transition: all 0.2s;  
      -moz-transition: all 0.2s;  
      -o-transition: all 0.2s;  
      -ms-transition: all 0.2s;  
      transition: all 0.2s;  
    }  
    .social-circle i {  
      color: #595959;  
      -webkit-transition: all 0.8s;  
      -moz-transition: all 0.8s;  
      -o-transition: all 0.8s;  
      -ms-transition: all 0.8s;  
      transition: all 0.8s;  
    }  
    .social-network a {  
      background-color: #F9F9F9;  
    }

    .product-img {
        width: 250px !important;
        height: 300px !important;
    }

/* ------------------- Mailchimp -------------------- */
#mc_embed_signup {
    background:black;
    clear:left;
    font:14px Helvetica,Arial,sans-serif; 
    width:350px;
}

/* ------------------ Media Queries ----------------- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px){
    .container {
        max-width: 80%;
    }

    /* Allauth form formatting */
    .allauth-form-inner-content p {
        margin-top: 1.5rem;
        color: #6c757d;
    }

    .allauth-form-inner-content input {
        border-color: #000;
        border-radius: 0;
    }

    .allauth-form-inner-content label:not([for='id_remember']) {
        display: none;
    }

    .allauth-form-inner-content input::placeholder {
        color: #aab7c4;
    }

    .allauth-form-inner-content button,
    .allauth-form-inner-content input[type='submit'] {
        /* btn */
        display: inline-block;
        font-weight: 400;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #000;
        border: 1px solid #000;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0;

        /* standard bootstrap btn transitions */
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .allauth-form-inner-content button:hover,
    .allauth-form-inner-content input[type='submit']:hover {	
        color: #fff;
        background-color: #222;
        border-color: #222;
    }

    .allauth-form-inner-content a {
        color: #17a2b8; /* text-info */
    }

    /* Product Form */
    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .custom-checkbox .custom-control-label::before {
        border-radius: 0;
        border-color: #dc3545;
    }

    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #dc3545;
        border-color: #dc3545;
        border-radius: 0;
    }

    #mc_embed_signup {
        background:black;
        clear:left;
        font:14px Helvetica,Arial,sans-serif; 
        width:350px;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1025;
    }

    .header-container {
        padding-top: 165px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 768px) {
    .header-container {
        padding-top: 75px;
    }

    body {
        height: calc(100vh - 75px);
    }

    .display-7.logo-font.text-black {
        font-size: 1.5rem;
    }

    .nav-link {
        padding: 0;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .7rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .footer {
        position: fixed;
    }

    #mc_embed_signup {
        background:black;
        clear:left;
        font:14px Helvetica,Arial,sans-serif; 
        width:250px;
    }
}