html {
    height: 100%;
}

body {
    background: rgb(208, 146, 224);
    color: black;
    font-family: 'Roboto';
}

/* from bootstrap Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.4rem;
    width: 1.4rem;
}

.logo-font {
    text-transform: uppercase;;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: aliceblue;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: whitesmoke;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
}

.text-black {
    color: black !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.btn-outline-black {
    background: #fff;
    color: #000 !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #000;
    color: #fff !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #01274d !important;
    color: #fff !important;
}

.btt-button {
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 12px;
    right: 12px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 75px;
    right: 15px;
    z-index: 9999999999;
}

.custon-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------------ Media Queries ----------------- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px){
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1025;
    }

    .header-container {
        padding-top: 165px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}