<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
      <li class="nav-item d-block d-md-none">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Home
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          All Products
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
          <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price
          </a>
          <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating
          </a>
          <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category
          </a>
          <a href="{% url 'products' %}" class="dropdown-item">All Products
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Men
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
          <a href="{% url 'products' %}?category=punjabi" class="dropdown-item">Punjabi
          </a>
          <a href="{% url 'products' %}?category=jeans" class="dropdown-item">Jeans
          </a>
          <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts
          </a>
          <a href="{% url 'products' %}?category=socks" class="dropdown-item">Socks
          </a>
          <a href="{% url 'products' %}?category=punjabi,jeans,shirts,socks" class="dropdown-item">All Men Clothing
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="women-clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Women
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="women-clothing-link">
          <a href="{% url 'products' %}?category=dress" class="dropdown-item">Dress
          </a>
          <a href="{% url 'products' %}?category=top" class="dropdown-item">Top
          </a>
          <a href="{% url 'products' %}?category=pants" class="dropdown-item">Pants
          </a>
          <a href="{% url 'products' %}?category=dress,top,pants" class="dropdown-item">All Women Clothing
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="children-clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Children
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="children-clothing-link">
          <a href="{% url 'products' %}?category=boys" class="dropdown-item">Boys
          </a>
          <a href="{% url 'products' %}?category=girls" class="dropdown-item">Girls
          </a>
          <a href="{% url 'products' %}?category=baby" class="dropdown-item">Baby
          </a>
          <a href="{% url 'products' %}?category=boys,girls,baby" class="dropdown-item">All Children Clothing
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Special Offers
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="specials-link">
          <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals
          </a>
          <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals
          </a>
          <a href="{% url 'products' %}?category=new_arrivals,deals" class="dropdown-item">All Specials
          </a>
        </div>
      </li>
    </ul>
  </div>
  