{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Shop different size of clothes for men, women, children, girls, boys and
    find usefull advice on growing mahir store.">
    <meta name="keywords" content="Tshirt, dresses, pants, jeans, tops, punjabi, sharees, socks, nightwear,
    boys, girls, baby, newbabies on mahir store">
    {% endblock %}
    {% block extra_meta %}
    {% endblock %}
    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
    {% block corejs %}
    <script src="https://kit.fontawesome.com/dd28319c58.js" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Mailchimp -->
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
    <title>Mahir Store {% block extra_title %}{% endblock %}
    </title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <div id="delivery-banner" class="row text-center bg-info text-white">
        <div class="col">
          <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <a class="navbar-brand" href="{% url 'home' %}">
            <h2 class="logo-font text-black my-0">
              <strong>
                <em>Mahir</em>
              </strong> // Store
            </h2>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  All Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                  <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                  <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                  <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search product.." aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    {% if messages %}
    <div class="message-container" id="msgall">
      {% for message in messages %}
      {% with message.level as level %}
      {% if level == 40 %}
      {% include 'includes/toasts/toast_error.html' %}
      {% elif level == 30 %}
      {% include 'includes/toasts/toast_warning.html' %}
      {% elif level == 25 %}
      {% include 'includes/toasts/toast_success.html' %}
      {% else %}
      {% include 'includes/toasts/toast_info.html' %}
      {% endif %}
      {% endwith %}
      {% endfor %}
    </div>
    {% endif %}
    {% block page_header %}
    {% endblock %}
    <main class="flex-shirnk-0 main-bg w-100">
      {% block content %}
      {% endblock %}
    </main>
    <footer class="mainfooter fixed-buttom">
      <div class="footer-middle">  
        <div class="container">  
          <div class="row">  
            <div class="col-md-4 col-sm-6">  
              <div class="footer-pad">
                <h3>Mahir // Store
                </h3>
                <p>Mahir Store is global fashion companies. It's offer inspiring
                  and affordable fashion and the range includes several different concepts in men's, women's,
                  children's. Company's higher purpose is to empower and inspire
                  special and Mahir Store's sustainability promise is to make a difference for future
                  generations by empowering all, respecting the planet and standing up for human rights.
                </p>
              </div>  
            </div>   
            <div class="col-md-4 col-sm-6">  
              <div class="container-fluid footer-pad">  
                <!--Begin Mailchimp Signup Form-->
                <div id="mc_embed_signup">
                  <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=801520969853e691b833eda60&amp;id=f37b3517a8&amp;f_id=00fe68e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                      <h3>Newsletter
                      </h3>
                      <p>Subscribe to get the latest from Mahir Store.
                      </p>  
                      <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address  
                          <span class="asterisk">*
                          </span>
                        </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                        <!--<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>-->
                      </div>
                      <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display:none">
                        </div>
                        <div class="response" id="mce-success-response" style="display:none">
                        </div>
                      </div>
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_801520969853e691b833eda60_f37b3517a8" tabindex="-1" value="">
                      </div>
                      <div class="optionalParent">
                        <div class="clear foot">
                          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button bg-success">
                          <!-- <p class="brandingLogo"><a href="http://eepurl.com/iiHapD" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p> -->
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <!--End mc_embed_signup-->
              </div>  
            </div> 
            <div class="col-md-4 col-sm-6 mb-2 pl-5">  
              <div class="footer-pad">  
                <h3> Policy
                </h3>  
                <ul class="list-unstyled">  
                  <li>
                    <a href="https://www.privacypolicygenerator.info/live.php?token=PmhxnFEmPcvoLF9kOuYndzyDUD0BhC7X" target="_blank">Privacy Policy
                    </a>
                  </li>     
                </ul>
                <br>
                <h3> Follow Us 
                </h3>
                <ul class="social-network social-circle">  
                  <li>
                    <a href="https://www.facebook.com/Mahir-Store-100943332909290" target="_blank" class="icoFacebook" title="Facebook"> 
                      <i class="fa fa-facebook">
                      </i> 
                    </a>
                  </li>  
                </ul>
              </div>  
            </div> 
          </div>  
        </div>
        <div class="row text-center">
          <div class="col bg-secondary text-white">
            <p class="logo-font my-1">Mahir Store | Secure Payment System |  60 day right of return!
            </p>
          </div>
        </div>
      </div>  
    </footer>
    {% block postloadjs %}
    <script>
      $('.toast').toast('show');
    </script>
    {% endblock %}
  </body>
</html>
