{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Edit a product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Update Product</button>
                    </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
<footer class="footer mt-auto">
  <div class="jumbotron jumbotron-fluid bg-dark mt-3 mb-0">
      <div class="container">
          <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
                  <div class="card bg-dark border-0">
                      <div class="card-body text-light text-left">
                          <h5 class="card-title text-white display-4" style="font-size:30px">Contact Us</h5>
                          <a href="{% url 'home' %}" class="text-light d-block lead">Mahir Store</a>
                          <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i class="fa fa-phone mr-2"></i>+46 070 000 000</a>
                          <a class="text-light d-block lead" href="#"><i class="fa fa-envelope mr-2"></i>mahirstore@example.com</a>
                          <h6>Openning Hour</h6>
                          <p>Mon-Fri(10:00 - 19:00) Sat(11:00 - 15:00)</p>
                          <p>Sun Close</p>
                      </div>
                  </div>
              </div>
              
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
                  <div class="card bg-dark border-0">
                      <div class="card-body text-light text-left">
                          <h5 class="card-title text-white display-4" style="font-size:30px">Policy</h5>
                          
                      </div>
                  </div>
              </div>
              
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                  <div class="card bg-dark border-0">
                      <div class="card-body text-light text-left">
                      <h5 class="card-title text-white display-4 lead" style="font-size:30px">Follow Us</h5>
                              <a href="#"><i class="fab fa-facebook-square fa-fw fa-2x text-light"></i></a>
                              <a href="#"><i class="fab fa-twitter-square fa-fw fa-2x text-light"></i></a>
                              <a href="#"><i class="fab fa-instagram-square fa-fw fa-2x text-light"></i></a>
                              <a href="#"><i class="fab fa-youtube-square fa-fw fa-2x text-light"></i></a>
                      </div>
                  </div>
              </div>	
          </div>
      </div>
  </div>
</footer>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
